<style>
    .a{
        color:  #ff0078 !important; 
    }
    .a:hover{
        color: #ff0078 !important;
        text-decoration: none !important;
    }
    .top-bar {
      padding: 10px 0;
      text-align: right;
      /* background-color:  */
      /* background-color:linear-gradient(180deg, #f02d85, #FF6648); */
      border-radius: 10px;
    }
    .top-bar button {
      background: none;
      border: solid 1px #EB0000;
      border-radius: 20px;
      padding: 5px 15px;
      margin: 0 5px;
      color: #EB0000;
    }
    .chat-area {
      width: 40%;
      padding: 20px;
      height: calc(100vh - 120px);
      overflow-y: auto;
    }
    .chat-area-ans {
      width: 40%;
      padding: 20px;
      height: calc(100vh - 120px);
      overflow-y: auto;
    }
    .chat-bubble {
      background-color: #f8f8f8;
      border-radius: 20px;
      padding: 15px;
      margin-bottom: 10px;
      display: inline-block;
    }
    .chat-input {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px;
      background-color: #fff;
      border-top: solid 1px #ddd;
    }
    .response-button-back {
      background-color: transparent;
      border: solid 1px  #007bff;
      border-radius: 20px;
      padding: 10px 20px;
      font-size: 16px;
      color: #007bff;
      margin: 5px;
    }
    .response-button {
      background-color: #007bff;
      border: none;
      border-radius: 20px;
      padding: 10px 20px;
      font-size: 16px;
      color: white;
      margin: 5px;
    }
    .progress-bar{
        background-color:#F02D84;
    }
  </style>

<div id="chat">
    <div id="chat_icon">
        <img src="/static/images/Login/Logo.png" alt="Globe Icon" style="margin-left:40%; max-width: 250px;">
        <h2 >How can I help you today?</h2>
        <button id="chat_open" style="margin:auto; width: 450px; height: 100px;" class="chat-button flex items-center">
           <h3 style="align-content: center; margin: auto;">Start Chat</h3>             
        </button>
    </div>
    
    <div id="chat_welcome" class="hidden">
        <div id="first_phase">
            <div class="top-bar" style="background-color: linear-gradient(to right, #F02D84, #FF6648);">
                <button id="chat_join" style=" background-color: #F02D84;color: white;" class="skip-button" type="button">Skip Questionnaire</button>
                <button type="button">
                    <a style="color: #EB0000; text-decoration: none;" href="{% url 'core:index' %}" >Create New</a>
                </button>
                <button type="button">Share</button>
                <br>
                <br>
                <div style="padding: 10px;">
                    <div class="progress" style="height: 40px; border-radius: 25px;" >
                        <div class="progress-bar progress-bar-striped" id="progress" role="progressbar" aria-label="Default striped example" style="width: 20%;font-size: medium;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"> Answer 1 of 5</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <img src="/static/images/Login/Logo.png" style="width: 40px; height: 40px; margin: 20px; margin-top: 30px;">
                </div>
                <div class="chat-area">
                    <!-- Chat messages here -->
                    <div id="First_question">
                        <div class="chat-bubble">
                            Hi! I'm AirMed's messaging assistant. Before connecting you with a remote doctor, let's gather some information to help the remote doctor get a better understanding of the situation.
                        </div>
                        <div class="chat-bubble">
                            Is the patient still conscious?
                        </div>
                        <div class="option-chat-bubble">
                            <div>
                                <button type="button" id="first_ans_Yes" class="response-button">Yes</button>
                                <button type="button" id="first_ans_No" class="response-button">No</button>
                                <button type="button" id="first_ans_NS" class="response-button">Not Sure</button>
                            </div>
                        </div>
                        <div class="answer-chat-bubble hidden">
                            <div class="Yes">
                                <button type="button" class="response-button">Yes</button>
                            </div>
                            <div class="No">
                                <button type="button" class="response-button">No</button>
                            </div>
                            <div class="Not Sure">
                                <button type="button" class="response-button">Not Sure</button>
                            </div>
                        </div>
                    </div>
                    <div id="Second_question" class="hidden">
                        <div class="chat-bubble">
                            Is the patient experiencing any discomfort, pressure, or pain in their chest?
                        </div>
                        <div class="answer-chat-bubble">
                            <div>
                                <button type="button" id="sec_ans_back" class="response-button-back">Back</button>
                                <button type="button" id="sec_ans_Yes" class="response-button">Yes</button>
                                <button type="button" id="sec_ans_No" class="response-button">No</button>
                                <button type="button" id="sec_ans_NS" class="response-button">Not Sure</button>
                            </div>
                        </div>
                    </div>
                    <div id="Third_question" class="hidden">
                        <div class="chat-bubble">
                            Is the patient having difficulty breathing or experiencing shortness of breath? 
                        </div>
                        <div class="answer-chat-bubble">
                            <div>
                                <button type="button" id="third_ans_back" class="response-button-back">Back</button>
                                <button type="button" id="third_ans_Yes" class="response-button">Yes</button>
                                <button type="button" id="third_ans_No" class="response-button">No</button>
                                <button type="button" id="third_ans_NS" class="response-button">Not Sure</button>
                            </div>
                        </div>
                    </div>
                    <div id="Fourth_question" class="hidden">
                        <div class="chat-bubble">
                            Is the patient nauseous or feeling lightheaded?
                        </div>
                        <div class="answer-chat-bubble">
                            <div>
                                <button type="button" id="fourth_ans_back" class="response-button-back">Back</button>
                                <button type="button" id="fourth_ans_Yes" class="response-button">Yes</button>
                                <button type="button" id="fourth_ans_No" class="response-button">No</button>
                                <button type="button" id="fourth_ans_NS" class="response-button">Not Sure</button>
                            </div>
                        </div>
                    </div>
                    <div id="Fifth_question" class="hidden">
                        <div class="chat-bubble">
                            Is the patient experiencing a seizure?
                        </div>
                        <div class="answer-chat-bubble">
                            <div>
                                <button type="button" id="fifth_ans_back" class="response-button-back">Back</button>
                                <button type="button" id="fifth_ans_Yes" class="response-button">Yes</button>
                                <button type="button" id="fifth_ans_No" class="response-button">No</button>
                                <button type="button" id="fifth_ans_NS" class="response-button">Not Sure</button>
                            </div>
                            <input type="text" name="name" id="chat_name" class="w-full mb-4 py-2 px-6 rounded-xl bg-gray-100" placeholder="Enter name (Optional)">
                        </div>
                    </div>
                    <!-- Add more chat bubbles as needed -->
                </div>
            </div>
            <!-- <button id="chat_join" class="py-2 px-6 rounded-xl text-white bg-rose-600">Tap Here to talk to a doctor immediately</button> 
            <input type="text" name="name" id="chat_name" class="w-full mb-4 py-2 px-6 rounded-xl bg-gray-100" placeholder="Your name..."> -->
            <script src="https://kit.fontawesome.com/your-fontawesome-kit.js"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.9/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        </div>
    </div>

    <!-- <div id="chat_welcome" class="hidden">
        <input type="text" name="name" id="chat_name" class="w-full mb-4 py-2 px-6 rounded-xl bg-gray-100" placeholder="Your name...">

        <button id="chat_join" class="py-2 px-6 rounded-xl text-white bg-rose-600">Join chat</button>
    </div> -->

    <div id="chat_room" style="background-color: white;" class="hidden">
        <div id="chat_log" class="mb-4 p-4 rounded-xl h-[500px] overflow-scroll">
            <p>Welcome to our chat! Please type your message and wait for an agent to join...</p>
        </div>

        <input type="text" name="body" id="chat_message_input" class="w-full mb-4 p-4 bg-gray-100 rounded-xl" placeholder="Type your message...">
        <button id="chat_message_submit" class="py-2 px-6 bg-rose-600 text-white rounded-xl">Send</button>
    </div>
</div>